<header class="jumbotron">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="heading text-white">
      <h1>Quiz Master Max</h1>
      <p class="subheading text-center">A quiz app for developing developers</p>
    </div>
  </div>
</header>

<div class="container fade-in-2 mt-5 d-flex justify-content-center">
  <div class="col-md-6">
    {{#each quizzes as |quiz|}}
      <div class="quiz col-md-6 mx-auto">
        <a class="nav-link quiz-item" href="/quizzes/{{quiz.id}}">
          <h2 class="quiz-title text-dark">{{quiz.title}}</h2>
          <h5 class="quiz-subtitle text-dark">{{quiz.description}}</h5>
        </a>
        <p class="text-secondary fst-italic">
          Posted by
          <span class="user">{{quiz.user.name}}</span>
          on
          <span class="score">{{quiz.score}}</span>
        </p>
      </div>

    {{/each}}
  </div>
</div>